main .about-zipline{
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 645px;
	background-color: $greenBlack;
	position: relative;
}

main .about-zipline::after{
	content: '';
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/about-cover.svg');
	background-size: cover;
	background-position: center center;
	position: absolute;
	z-index: 99;
	top: 75px;
	left: 0px;
	opacity: 0.44;
}

main .about-zipline p{
	margin: 0;
	padding: 140px 40px 0 40px;
	color: $white;
	position: relative;
	z-index: 100;
}

main .about-offer{
	margin-top: -220px;
	position: relative;
	z-index: 100;
}

main .about-offer .mainContainer h3{
	opacity: 1;
	color: $orange;
	margin: 0;
	padding: 0 40px;
	text-align: left;
}

main .about-security{
	margin: 0;
	padding: 160px 0 0 0;
}

main .about-security .mainContainer h3{
	margin: 0;
	padding: 0 40px;
	color: $orange;
}

main .about-security .mainContainer p{
	margin: 0;
	padding: 45px 40px 0 40px;
	color: $blackDark;
}

main .middle-cover{
	margin: 85px 0 0 0;
	padding: 0;
	width: 100%;
	height: 455px;
	background-size: cover;
	background-position: center center;
}

main .notes{
	margin: 0;
	padding: 0 0 100px 0;
}

main .notes .mainContainer h3{
	margin: 0;
	padding: 25px 40px 5px 40px;
	color: $greenBlack;
}

main .notes .mainContainer h4{
	margin: 0;
	padding: 40px 40px 0 40px;
	color: $orange;
}

main .notes .mainContainer br{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 15px;
}

main .notes .mainContainer p{
    margin: 0;
    padding: 0 40px;
    color: $blackDark;
}

main .about-offer .mainContainer .row .offer-item a:hover{
	color: $orange;
    border-bottom: solid 1px $orange;
}