/* colors */
$orange: #F9A73E; 
$greenBlack: #165F3F;
$greenLighter: #185136;
$blackDark: #263238;
$blackMiddel: #054925;
$white: #FFF9EC;
$whiteMore: #FFFFF8;
$pureWhite: #FFFFFF;

/* Vars */
$mainContainer: 1280px;

body{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	overflow-x: hidden;
}

.clearer{
	clear:both;
}

.header-space{
	width: 100%;
	height: 118px;
	position: relative;
	background-color: transparent;
}

header{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background-color: $pureWhite;
	width: 100%;
	height: 118px;
	border-bottom: solid 2px $greenBlack;
	position: absolute;
	top: 0;
	left: 0;
	transition-property: height, line-height;
}

header .header-button{
	margin: 0;
	padding: 0 65px;
	border: 0;
	outline: 0;
	height: 40px;
	line-height: 40px;
	position: absolute;
	right: 0px;
	top: 15px;
	background-color: $orange;
	text-align: center;
	color: $blackMiddel;
	display: none;
	transition-property: background-color, color;
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
}

header .header-button:hover{
	background-color: $white;
	color: $orange;
}

.mainContainer{
	margin: 0 auto;
	padding: 0;
	width: $mainContainer;
	position: relative;
}

.mainContainer .logo{
	width: 120px;
	text-align: center;
	height: 118px;
	line-height: 118px;
	position: absolute;
	left: -220px;
	top: 0px;
	/*background-color: red;*/
}

.mainContainer .navigation{
	margin: 0;
	padding: 0;
	width: 100%;
}

.mainContainer .navigation ul{
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
}

.mainContainer .navigation ul li{
	margin: 0;
	padding: 0;
	display: inline-block;
}

.mainContainer .navigation ul li a{
	margin: 0;
	padding: 0 20px;
	display: block;
	line-height: 118px;
	text-align: center;
	text-decoration: none;
	color: $blackDark;
	transition-property: color;
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
}

.mainContainer .navigation ul li a:hover{
	color: $orange;
}

.mainContainer .navigation ul .active a{
	color: $orange;
}

.mainContainer .languages{
	margin: 0;
	padding: 0;
	width: 150px;
	height: 118px;
	line-height: 118px;
	position: absolute;
	right: 0px;
	top: 0px;
}

.mainContainer .languages ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.mainContainer .languages ul li{
	margin: 0;
	padding: 0;
	display: inline-block;
}

.mainContainer .languages ul li a{
	margin: 0;
	padding: 0 10px;
	display: block;
	text-align: center;
	color: $greenBlack;
	text-transform: uppercase;
	text-decoration: none;
	transition-property: color;
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
}

.mainContainer .languages ul li a:hover{
	color: $orange;
}

.mainContainer .languages ul .active a{
	color: $orange;
}

.fixed{
	height: 70px;
	line-height: 70px;
	position: fixed;
	top: -70px;
	left: 0;
	transition-property: top;
	transition-duration: 600ms;
	transition-timing-function: ease-in-out;
	z-index: 100;
}

.fixed .logo{
	height: 70px;
	line-height: 70px;
}

.fixed .mainContainer .navigation ul li a{
	line-height: 70px;
}

.fixed .mainContainer .languages{
	height: 70px;
	line-height: 70px;
}

.fixed .header-button{
	display: block;
}

header .zipman{
	margin: 0;
	padding: 0;
	width: 100px;
	height: 115px;
	background-image: url('../img/zipman.svg');
	background-size: contain;
	position: absolute;
	bottom: -115px;
	right: 0px;
	animation: zipman 5s infinite;
	z-index: 100;
}

main{
	margin: 0;
	padding: 0;
	width: 100%;
}

main .cover-image{
	margin: 0;
	padding: 0;
	width: 100%;
	height: calc(100vh - 118px);
	background-image: url('../img/cover.jpg');
	background-size: cover;
	background-position: center center;
	position: relative;
}

main .cover-image .line{
	margin: 0;
	padding: 0;
	width: 1px;
	height: 100%;
	background-color: $greenLighter;
	position: absolute;
	left: calc(50% - 0.5px);
	z-index: 99;
}

main .cover-image .first{
	left: 0px;
}

main .cover-image .last{
	left: unset !important;
	right: 0px;
}

main .cover-image .cover-text{
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	height: calc(100vh - 118px);
}

main .cover-image .cover-text .text-buttom-container{
	margin: 0;
	padding: 0;
	width: 100%;
	left: 0;
	bottom: 200px;
	position: absolute;
	z-index: 99;
}

main .cover-image .cover-text .text-buttom-container h1{
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	margin-top: 0;
	text-align: left;
	color: $orange;
	z-index: 99;
	position: relative;
}

main .cover-image .cover-text .text-buttom-container h2{
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	margin-top: 15px;
	text-align: left;
	color: $white;
	z-index: 99;
	position: relative;
}

main .cover-image .cover-text .text-buttom-container button{
	margin: 0;
	padding: 0 105px;
	border: 0;
	outline: 0;
	width: auto;
	height: 118px;
	line-height: 118px;
	background-color: $orange;
	text-align: center;
	float: left;
	margin-top: 25px;
	position: relative;
	z-index: 99;
	transition-property: background-color, color;
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;

}

main .cover-image .cover-text button:hover{
	background-color: $white;
	color: $orange;
}

main .about-us{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: $greenBlack;
	float: left;
	margin-top: -245px;
	min-height: 500px;
	position: relative;
	z-index: 98;
}

main .about-us .mainContainer .social-networks{
	margin: 0;
	padding: 0;
	/*background-color: $white;*/
	height: 245px;
	position: absolute;
}

main .about-us .mainContainer .social-networks ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

main .about-us .mainContainer .social-networks ul li{
	margin: 0;
	padding: 0;
	display: block;
	line-height: 122px;
	height: 122px;
	position: relative;
}

main .about-us .mainContainer .social-networks ul li a{
	margin: 0;
	padding: 0;
	display: block;
	line-height: 122px;
	height: 122px;
	text-align: center;
	text-indent: -9999px;
	background-size: 25px 25px; 
	background-position: center center;
	background-repeat: no-repeat;
}

main .about-us .mainContainer .social-networks ul li .whatsapp{
	background-image: url('../img/whatsapp.svg');
}

main .about-us .mainContainer .social-networks ul li .facebook{
	background-image: url('../img/facebook.svg');
	background-size: 25px 30px; 
	transition-property: background-color;
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
}

main .about-us .mainContainer .social-networks ul li .facebook:hover{
	background-color: $orange;
}

main .about-us .mainContainer .social-networks ul li:first-child{
	border-bottom: solid 1px $greenLighter;
}

main .about-us .mainContainer .social-networks ul li .whatsappHover{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: $orange;
	position: absolute;
	top: 0;
	right: -100%;
	line-height: 122px;
	color: $white;
	text-indent: 0px;
	text-decoration: none;
	transition-property: right;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

main .about-us .mainContainer .social-networks ul li .whatsappHover::before{
	margin: 0;
	padding: 0;
	content: '';
	width: 25px;
    height: 25px;
    position: absolute;
    left: 60px;
    top: 50px;
	background-image: url('../img/whatsapp.svg');
	background-size: 25px 25px; 
	background-position: center center;
	background-repeat: no-repeat;
}

main .about-us .mainContainer .social-networks ul li:hover .whatsappHover{
	right: 0px;
}

main .about-us .mainContainer .about-text{
	margin: 390px 0 0 0;
	padding: 0;
	max-width: 450px;
	float: left;
	position: relative;
}

main .about-us .mainContainer .about-text h3{
	margin: 0 0 30px 0;
	padding: 0;
	color: $orange;
}

main .about-us .mainContainer .about-text p{
	margin: 0 0 30px 0;
	padding: 0;
	color: $whiteMore;
}

main .about-us .mainContainer .text-box{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

main .about-us .mainContainer .text-box .line{
	margin: 0;
	padding: 0;
	width: 1px;
	height: 100%;
	background-color: $greenLighter;
	position: absolute;
	left: calc(50% - 0.5px);
	z-index: 99;
}

main .about-us .mainContainer .text-box .first{
	left: 0px;
}

main .about-us .mainContainer .text-box .last{
	left: unset !important;
	right: 0px;
}

main .offers{
	margin:0;
	padding:0;
	width:100%;
}

main .offers .mainContainer h3{
	margin:0;
	padding:65px 0 0 0;
	color: $blackDark;
	opacity: 0.3;
	text-align: center;
}

main .offers .mainContainer p{
	margin:0;
	padding:10px 0 0 0;
	color: $blackDark;
	text-align: center;
}

main .offers .mainContainer .row{
	margin-top: 45px;
}

main .offers .mainContainer .row .offer-item{
	
}

main .offers .mainContainer .row .offer-item .box{
	width: 100%;
	height: 345px;
	position: relative;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

main .offers .mainContainer .row .offer-item .box .green-footer{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 60px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(22,95,63,0.6);
	z-index: 99;
	transition-property: height;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

main .offers .mainContainer .row .offer-item .box .green-footer h4{
	margin: 0;
	padding: 0;
	width: 100%;
	line-height: 60px;
	text-align: center;   
	color: $white;         
}

main .offers .mainContainer .row .offer-item .box .green-footer p{
	margin: 0;
	padding: 0 45px 45px 45px;
	width: 100%;
	line-height: 22px;
	text-align: left;   
	color: $pureWhite;
	display: none;         
}

main .offers .mainContainer .row .offer-item .box:hover .green-footer{
	height: 100%;
}

main .offers .mainContainer .row .offer-item .box:hover .green-footer p{
	display: block;
}

main .offers .mainContainer .row .offer-item a{
	margin: 0 auto;
	padding: 0;
	width: 300px;
	height: 65px;
	line-height: 65px;
	text-decoration: none;
	text-align: center;
	display: block;
	border-bottom: solid 1px $blackDark;
	transition-property: color, border-bottom;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
	color: $greenBlack;
}

main .offers .mainContainer .row .offer-item a:hover{
	color: $white;
	border-bottom: solid 1px $white;
}

main .orange-box{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 550px;
	background-color: $orange;
	float: left;
	margin-top: -125px;
}

main .prices-box{
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	margin-top: -210px;
}

main .prices-box .mainContainer{
	overflow: hidden;
}

main .prices-box .mainContainer h3{
	margin: 0;
	padding: 0;
	text-align: center;
	color: $blackDark;
	opacity: 0.3;
}

main .prices-box .mainContainer .price-border{
	border: solid 1px $greenBlack;
	margin: 0;
	padding: 0;
	width: calc(100% - 2px);
	float: left;
	margin-top: 50px;
	background-image: url('../img/pricebg.png');
	background-position: bottom center;
	background-size: cover;
}

main .prices-box .mainContainer .price-border .left .zipman-left-right{
	margin:0;
	padding: 0;
	width: 135px;
	height: 270px;
	float: left;
	margin-left: 220px;
	margin-top: -4px;
	background-image: url('../img/zipman2.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -9999px;
	animation: zipmantwo 3s infinite;
	transform-origin: left top;
	transform: rotate(50deg);
}

main .prices-box .mainContainer .price-border .left{
	position: relative;
	min-height: 680px;
}

main .prices-box .mainContainer .price-border .left .footer{
	margin:0;
	padding: 0;
	width: 176px;
	height: 169px;
	position: absolute;
	bottom: 0px;
	left: calc(50% - 88px);
}

main .prices-box .mainContainer .price-border .left .footer p{
	margin:0;
	padding:0;
	line-height: 63px;
	width: calc(100% - 2px);
	border: solid 1px $orange;
	text-align: center;
	color: $greenBlack;
	transition-property: background-color, color;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

main .prices-box .mainContainer .price-border .left .footer p:hover{
	background-color: $orange;
	color: $white;
}

main .prices-box .mainContainer .price-border .left .footer button{
	margin:0;
	padding:0;
	border: 0;
	outline: 0;
	width: 100%;
	line-height: 63px;
	text-align: center;
	color: $pureWhite;
	background-color: $greenBlack;
	position: absolute;
	bottom: 0px;
	left: 0px;
	transition-property: background-color, color;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

main .prices-box .mainContainer .price-border .left .footer button:hover{
	background-color: $orange;
	color: $greenBlack;
}

main .prices-box .mainContainer .price-border .right{
	position: relative;
}

main .prices-box .mainContainer .price-border .right h4{
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: left;
	color: $blackDark;
	margin-top: 60px;
}

main .prices-box .mainContainer .price-border .right .content{
	margin: 0;
	padding: 0;
	width: 100%;
	position: absolute;
	bottom: 25px;
	left: 0px;
}

main .prices-box .mainContainer .price-border .right .content strong{
	color: $greenBlack;
	font-weight: normal;
}

main .prices-box .mainContainer .price-border .right .content p{
	color: $blackDark;
	margin: 0;
	padding: 0;
}

main .prices-box .mainContainer .price-border .right .content ul{
	margin: 0 0 0 1em;
	padding: 0;
	list-style: none;
}

main .prices-box .mainContainer .price-border .right .content ul li{
	margin: 0;
	padding: 0;
	width: 100%;
	color: $blackDark;
}

main .prices-box .mainContainer .price-border .right .content ul li::before{
	content: "\2022";
	color: $orange;
	font-weight: bold;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
}

main .prices-box .mainContainer .price-border .right .content .payment-icons{
	margin: 0;
	padding: 0;
	position: absolute;
	right: 120px;
	bottom: -10px;
}

main .prices-box .mainContainer .price-border .right .content .payment-icons div{
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 40px;
	height: 34px;
	margin-right: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -9999px;
}

main .prices-box .mainContainer .price-border .right .content .payment-icons .cards{
	background-image: url('../img/credit-card.svg');
}

main .prices-box .mainContainer .price-border .right .content .payment-icons .money{
	background-image: url('../img/money.svg');
	width: 45px;
	height: 39px;
}

main .additional-services{
	margin:0;
	padding: 0;
	width: 100%;
	background-color: $greenBlack;
}

main .additional-services h3{
	margin:0;
	padding: 0;
	text-align: center;
	color: $white;
	opacity: 0.5;
	margin-top: 75px;
	padding-top: 230px;
}

@keyframes zipmantwo {
  	0%, 100% { transform: rotate(25deg); }
    50% { transform: rotate(-15deg);  }
}

@keyframes zipman {
  from { right: -100px; }
  to { right: calc(100% + 100px); }
}